<div class="palm-header left">InterfaceLIFT for WebOS</div>
<div class="palm-header-spacer"></div>
<!-- Artists -->
<table id="artists-divider" class="palm-divider collapsible" x-mojo-touch-feedback="delayed"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label" id="artists-label">
			Artists
		</td>
		<td class="line" width="100%"></td>
		<td><div id="artists-arrow" class="palm-arrow-expanded arrow_button"></div></td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div id='artists-drawer' x-mojo-element="Drawer">
	<div class='palm-group unlabeled' id='searching-artists'>
		<div class="palm-row last" id='searching-artists'>
			<div class="palm-row-wrapper">
				<div id='artists-spinner' style='margin-top: 0;' x-mojo-element="Spinner"></div>
				<div style='margin-top:5px;'>Searching Artists...</div>
			</div>
		</div>
	</div>
	<div id='artists-list' x-mojo-element="List"></div>
</div>
<!-- Tags -->
<table id="tags-divider" class="palm-divider collapsible" x-mojo-touch-feedback="delayed"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label" id="tags-label">
			Tags
		</td>
		<td class="line" width="100%"></td>
		<td><div id="tags-arrow" class="palm-arrow-expanded arrow_button"></div></td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div id='tags-drawer' x-mojo-element="Drawer">
	<div class='palm-group unlabeled' id='searching-tags'>
		<div class='palm-row last' id='searching-tags'>
			<div class="palm-row-wrapper">
				<div id='tags-spinner' style='margin-top: 0;' x-mojo-element="Spinner"></div>
				<div style='margin-top:5px;'>Searching Tags...</div>
			</div>
		</div>
	</div>
	<div id='tags-list' x-mojo-element="List"></div>
</div>
<!-- Wallpapers -->
<table id="wallpapers-divider" class="palm-divider collapsible" x-mojo-touch-feedback="delayed"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label" id="wallpapers-label">
			Wallpapers
		</td>
		<td class="line" width="100%"></td>
		<td><div id="wallpapers-arrow" class="palm-arrow-expanded arrow_button"></div></td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div id='wallpapers-drawer' x-mojo-element="Drawer">
	<div class='palm-group unlabeled' id='searching-wallpapers'>
		<div class='palm-row last' id='searching-wallpapers'>
			<div class="palm-row-wrapper">
				<div id='wallpapers-spinner' style='margin-top: 0;' x-mojo-element="Spinner"></div>
				<div style='margin-top:5px;'>Searching Wallpapers...</div>
			</div>
		</div>
	</div>
	<div id='wallpapers-list' x-mojo-element="List"></div>
</div>


<div class="fade-top" x-mojo-scroll-fade="top"></div>
<div class="fade-bottom" x-mojo-scroll-fade="bottom"></div>