<div class="palm-header left">InterfaceLIFT for WebOS</div>
<div class="palm-header-spacer"></div>

<table class="palm-divider labeled palm-dark"><tbody>
	<td class="left"></td>
	<td class="label">
		Reset Options
	</td>
	<td class="right"></td>
</tbody></table>

<div class='palm-group unlabeled'>
			<div class='palm-title'>This will delete all information from the database. The app will then close. The next time the application is started, all wallpaper information will be downloaded again.</div>
			<br />
			<div id="reset-database" x-mojo-element='Button'></div>
</div>